{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/css/cart.css') }}">
{% endblock css %}

{% block title %}Panier{% endblock %}


{% block main %}
    <div class="row">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">

                {#  Title #}

                <section class="col-12 title pt-4">
                    <h1 class="text-center mb-4">Mon panier</h1>
                </section>

                {#  Cart Table #}

                <section class="col-md-10 mx-2">

                    {% if(cart | length > 0) %}
                    <table class="table table-striped custom-border">
                        <thead class="custom-thead text-center">
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Total</th>
                            <th scope="col">Supprimer</th>
                        </tr>
                        </thead>

                        <tbody class="text-center">
                        {% set total = null %}
                        {% for product in cart %}
                            <tr>
                                <th scope="row"><img class="cart-img" src="{{ asset('assets/img/photos/' ~ product.flower.image) }}" alt="{{ product.flower.name }}"></th>
                                <td>{{ product.flower.name }}</td>
                                <td>{{ product.flower.price }} €</td>
                                <td>
                                    <a href="{{ path('app_decrease_to_cart', {'id': product.flower.id}) }}"><img src="{{ asset('assets/img/icons/minus.png') }}" alt="diminuer une quantité" class="quantity-custom"></a>
                                        {{ product.quantity }}
                                    <a href="{{ path('app_add_to_cart', {'id': product.flower.id}) }}"><img src="{{ asset('assets/img/icons/plus.png') }}" alt="ajouter une quantité" class="quantity-custom"></a>
                                </td>
                                <td>{{ (product.flower.price * product.quantity) }} €</td>
                                <td>
                                    <a href="{{ path('app_delete_to_cart', {'id': product.flower.id }) }}">
                                        <img src="{{ asset('assets/img/icons/trash.svg') }}" alt="icône supprimer la fleur" class="trash-custom">
                                    </a>
                                </td>
                            </tr>
                            {% set total = total + (product.flower.price * product.quantity) %}
                        {% endfor %}
                        </tbody>
                    </table>

                    {# Total price #}

                    <div class="text-right">
                        <b>Nombre de fleurs : {{ cart | length }}</b><br>
                        <b>TOTAL : {{ total }} € TTC</b>
                    </div>

                    {# Buttons #}

                    <div class="d-flex justify-content-center py-4">
                        <a href="{{ path('app_shop') }}" class="btn btn-dark custom-btn mr-2">Poursuivre mes achats</a>
                        <a href="{{ path('app_remove_cart') }}" class="btn btn-dark custom-btn mr-2">Supprimer mon panier</a>
                        <a href="" class="btn btn-dark custom-btn mr-2">Valider mon panier</a>
                    </div>

                    {% else %}
                        <p class="text-center">Votre panier est vide</p>

                    {% endif %}
                </section>

                {# Pagination  #}

                <section class="col-12 pagination justify-content-center align-items-center pt-5 pb-2">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            <li class="page-item">
                                <a class="page-link" href="#">Préc.</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Suiv.</a>
                            </li>
                        </ul>
                    </nav>
                </section>

            </div>
        </div>
    </div>
{% endblock main %}