{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">
{% endblock css %}

{% block title %}Changer mon mot de passe{% endblock %}


{% block main %}

    <div class="row">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">

                {#  Title #}

                <section class="col-12 title pt-4">
                    <h1 class="text-center mb-4">Changer mon mot de passe</h1>
                </section>

                {# Flash message : success or error #}

                <section class="col-12 col-md-8 col-lg-6 d-flex justify-content-center">
                    {% for label, messages in app.flashes(['success', 'danger']) %}
                        {% for message in messages %}
                            <div class="alert alert-dismissible alert-{{ label }}">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </section>

                {# Change Password form #}

                <section class="col-12 py-2 text-white signup py-5">

                    <div class="row d-flex justify-content-center py-3">
                        <div class="col-9 col-md-7 col-lg-6 signup-form rounded p-4">

                            {{ form_start(form) }}

                            <div class="row mb-2">
                                <div class="col-12 col-md-6">
                                    {{ form_row(form.firstname) }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ form_row(form.name) }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ form_row(form.phone) }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ form_row(form.birthday) }}
                                </div>
                                <div class="col-12">
                                    {{ form_row(form.email) }}
                                </div>
                                <div class="col-12 ">
                                    {{ form_row(form.old_password) }}
                                </div>
                                <div class="col-12">
                                    {{ form_row(form.new_password) }}
                                </div>
                            </div>

                            <div class="col-12 d-flex justify-content-center">
                                <a href="{{ path('app_account') }}" class="btn custom-btn text-white mx-1">Revenir</a>
                                <input type="submit" class="btn custom-btn text-white mx-1" value="Modifier">
                            </div>

                            {{ form_end(form) }}

                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>

{% endblock %}