{% extends 'base.html.twig' %}

{% block css %}<link rel="stylesheet" href="{{ asset('assets/css/cart.css') }}">{% endblock css %}

{% block title %}Gestion des promotions{% endblock %}


{% block main %}
    <div class="row">
        <div class="container-fluid custom-table">
            <div class="row d-flex justify-content-center">

                {#  Title #}

                <section class="col-12 title pt-4">
                    <h1 class="text-center mb-4">Gestion des promotions</h1>
                </section>

                {# Flash message : success or error #}

                <section class="col-12 col-md-8 col-lg-6 d-flex justify-content-center">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-dismissible alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </section>

                {# Discounts Managing Table #}

                <section class="col-11 col-md-10 my-3">

                    {# Add Button #}

                    <div class="d-flex justify-content-center py-4 ">
                        <a class="btn custom-btn mr-2 d-flex justify-content-center align-items-center" href="">
                            <img src="{{ asset('assets/img/icons/add.svg') }}" alt="Ajouter une fleur" style="width: 20px;">
                            <span class="text-white ml-2">Ajouter une promotion</span>
                        </a>
                    </div>

                    <table class="table table-striped custom-border">
                        <thead class="custom-thead">
                            <tr>
                                <th scope="col" class="text-center">Identifiant</th>
                                <th scope="col" class="text-center">Valeur</th>
                                <th scope="col" class="text-center">Date de début</th>
                                <th scope="col" class="text-center">Date de fin</th>
                                <th scope="col" class="text-center">Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                        {% for discount in discounts %}
                            <tr class="table text-center">
                                <td>{{ discount.id }}</td>
                                <td>{{ discount.value }}</td>
                                <td>{{ discount.start|date("d/m/Y") }}</td>
                                <td>{{ discount.end|date("d/m/Y") }}</td>

                                {# Update button #}
                                <td>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <a class="btn custom-btn mr-2" href="{{ path('app_update_discount', {'id': discount.id}) }}">
                                            <img src="{{ asset('assets/img/icons/update.svg') }}" alt="modifier la promotion" style="width: 20px;">
                                        </a>

                                        {# Delete button #}
                                        <form method="POST" action="" onsubmit="return confirm('Confirmez-vous la suppression de cette promotion ?')">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="">
                                            <button type="submit" class="btn custom-btn" value="Supprimer">
                                                <img src="{{ asset('assets/img/icons/delete.svg') }}" alt="supprimer la promotion" style="width: 20px;">
                                            </button>
                                        </form>
                                    </div>
                                </td>

                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </section>


                {# Pagination  #}

                <section class="col-12 pagination justify-content-center align-items-center pt-5 pb-2">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            <li class="page-item">
                                <a class="page-link" href="#">Préc.</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Suiv.</a>
                            </li>
                        </ul>
                    </nav>
                </section>

            </div>
        </div>
    </div>
{% endblock main %}

